#h1-1 {
	text-align: center;
	font-family: Trebuchet ms, sans-serif;
	color: whitesmoke;
	font-size: 50px;
}

* {
	background-color: black;
}

#h3-1 {
	color: whitesmoke;
	text-align: center;
	font-family:Trebuchet ms, sans-serif ;
	transition: 0.5s all linear;
	font-size: 50px;

}

#youtube {
	
	color: whitesmoke;
	font-size: 50px;
	text-decoration: none;
	font-family: Trebuchet ms, sans-serif ;
	text-align: center;


}

#h3-1:hover {
	background-color: whitesmoke;
	color: black;
	border-radius: 20px;
	box-shadow: 0 10px 10px grey;
}
#li-1 {
	color: whitesmoke;
	font-family: Trebuchet ms, sans-serif;
	font-size: 50px;
}

#p-1 {
	font-family:Trebuchet ms, sans-serif ;
	color: whitesmoke;
	font-size: 50px;
}


#li-2 {
	font-family:Trebuchet ms, sans-serif ;
	color: whitesmoke;
	font-size: 50px;
}

#text-1 {
	transition: 0.5s all linear;
	resize: none;
	height: 200px;
	width: 200px;
	font-family: Arial, sans-serif;
	text-decoration: none;
	

}

#p-2 {
	font-family:Trebuchet ms, sans-serif ;
	color: whitesmoke;
	font-size: 50px;
}

#text-1:hover {
	border-radius: 10px;
	background-color: whitesmoke;
	box-shadow: 0 10px 10px grey;
	color: black;
}

#rickroll {
	transition: 0.5s all linear;
	color: black;
	font-family:Trebuchet ms, sans-serif ;
	text-align: right;
	font-size: 10px;
}

#rickroll:hover {
	color: black;
	background-color: whitesmoke;
	border-radius: 20px;
	box-shadow: 0 10px 10px grey;
}

#hr-1 {
	color: whitesmoke;
}


#credits {
	font-family:Trebuchet ms, sans-serif ;
	color: whitesmoke;
	font-size: 20px;
}

#Maj {
	font-family:Trebuchet ms, sans-serif ;
	color: whitesmoke;
	font-size: 20px;
}

#a-5 {
	font-family:Trebuchet ms, sans-serif ;
	color: whitesmoke;
	font-size: 50px;
	text-decoration: none;
	list-style-type: none;
}


#a-5:link {
	text-decoration:none;
 	color: white;
}

#clique{
	font-family:Trebuchet ms, sans-serif ;
	color: whitesmoke;
}


#copy {
	font-family: Arial;
	color: white;
	font-weight: bold;
	text-align: left;
}


#twitter {
	color: white;
	font-family: Arial;
	font-weight: bold;
	text-align: left;

}



